:root {
    --primary: #00529f;  /* Biru FC Barcelona */
    --bg: #b40e21;      /* Merah FC Barcelona */
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('../img/login.jpg') center/cover no-repeat;
}

form {
    background-color: #b40e2199;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #FFFF00;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);    
}

form p {
    color: aqua; /* Warna teks untuk elemen <p> */
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: aqua; /* Warna teks untuk label */
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signupButton {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    background: var(--primary); /* Warna latar belakang tombol */
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#signupButton:hover {
    background-color: #b40e21; /* Warna latar belakang tombol saat dihover */
}

a {
    margin-top: 10px;
    color: #FFFF00    ; /* Warna teks hyperlink */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
